.product-page-container {
    margin: 20px; 
}

.home-page-container > :not(:last-child) {
    margin-bottom: 20px;
}

.product-page-title {
    text-align: center;
    margin: 5px; 
    margin-bottom: 25px;
    background-color: #b4dbde;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 20px;
    border: 1px solid #666666;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}