/* header.module.css */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(141, 174, 202);
    width: calc(100% - 10px);
    padding: 10px 5px;
    overflow-x: hidden;
    border-radius: 10px;
    font-size: 20px;
}

.nav-bar {
    margin-left: 15px;
}

.cart {
    margin-right: 15px;
}

.nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-bar ul li {
    display: inline-block;
    margin-right: 15px;
}

.nav-bar ul li a {
    text-decoration: none;
    color: #333;
    padding: 8px 12px; 
    border-radius: 20px; 
    transition: background-color 0.3s ease; 
}

.nav-bar ul li a:hover {
    background-color: #2d6ca4; 
}

.cart a {
    text-decoration: none;
    color: #333;
    padding: 8px 12px; 
    border-radius: 20px; 
    transition: background-color 0.3s ease; 
}

.cart a:hover {
    background-color: #1e609b; 
}
